:root{
    --footerH: 45px;
    --textColor: antiquewhite;
    --navBar: 55px;
    --padding: 10px;
    --projMargin: calc(100vh - 150px );    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", Helvetica, sans-serif;    
   /*  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
body{
    background: rgb(25, 24, 24);
    color:whitesmoke;    
}
.container{ 
    padding: 0px;   
    display: flex;
    flex-direction: column;   
} 
ul{
    padding: 0px;
}
/* a {
    text-decoration: none;
    text-decoration-style: none;
} */
ul li  {  
    padding: 0px;  
    margin: 0px;
    list-style-type: none;
}

#row{
    padding: 3px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    align-items: center;
}
nav ul li a {
    color:rgb(225, 225, 225);
    text-decoration: none;
    position: relative;
}
nav ul li a:hover {
    color:white;
    text-shadow: 1px 1px rgb(196, 191, 191);
    text-decoration: none;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color:coral;
    position: absolute;
}


/* --------------------------header----------------------- */
#header{    
    display:grid;
    grid-template-rows: 1fr 5fr;
    /*background-image: url(../pictures/BG02.jpg);*/
    background-size:cover;
    background-position: center;
    width:100%;
    height: 100vh;
}
.overlay{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,1));
    opacity: 0.9;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

#header-text{
    padding: 0px 15px;
    color:antiquewhite;
    grid-row-start: 2;
    z-index: 1;
}

.logo{
    background-color: white;
    width: 120px;
    height: calc(var(--navBar) - 2 * var(padding));
    margin: 5px 10px;
    z-index:1;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

#navbar{
    background-color: black;
    position:fixed;
    width: 100%;
    height: var(--navBar);
    font-size: 25px;
    z-index: 2;
}
#menu-item  .nav{
    margin-top: 8px;
    margin-right: 35px;
    display: block;
}
#menu-column {
    display: none;
    height:0;
}
#menu-column.show li{
margin: 5px 0;
}
#menu-column.show  {
    padding: 15px;
    display: block;
    position: fixed;
    top:55px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: large;
    width: 125px;
    transition: 0.5s;
    
}
#menu{
    width: 30px;
}
#ham{
    padding: 3px;
    font-size: x-large;
    border: 0;
    background-color: black;
}
#ham:hover{
    padding: 5px;
    font-size: x-large;
    border: 0;
    background-color: rgba(255, 255, 255, 0.308);
}



/* ----------welcome---------------------------------------- */


.welcome{
    font-weight: 800 ;
    font-size:5em;
    font-stretch: extra-expanded;
}
#welcome-section{   
    text-align: center;
    width:100%;
    height:100vh;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* ------------projects------------------------------------------- */

.projects{
    margin-top: 90px;
    font-weight: 800 ;
    font-size:3.5em;
    text-align: center;
}
#projects{
    background-color: white;
    color: black;
}
#projects{     
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
    transition: 0.5s;
    }   
#p-card {   
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 5px auto;
}

.project-tile{ 
    padding: 10px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: darkgray;
    position: relative;
    margin: 0% 15px;
    width: 250px;
    height: 400px;
    box-shadow: rgb(194, 192, 192) 5px 5px;  
    color:black; 
    transition: 0.5s;
    text-align: center;
}
#filter a{
   color: white; 
   text-decoration: none;
}
#filter a:hover{
   color: white; 
   text-decoration: none;
}
/* .project-tile:hover{
    background: white; 
   transform: scale(1.05);   
} */
#filter{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(25,25,25,0.7), rgba(105, 13, 13, 1));
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
}

.project-tile iframe{
    border-radius: 8px;
    width: 100%;
    height:75%; 
    overflow: hidden; 
    transition: transform 0.5s; 
}
.project-tile img{
    border-radius: 8px;
    width: 100%;
    height:75%; 
    overflow: hidden; 
    transition: transform 0.5s; 
} 
.project-tile:hover iframe{
  transform: scale(1.05);
   
}
.project-tile:hover img{
  transform: scale(1.05);
   
}
.project-tile:hover #filter{
 height: 100%;
   
}


hr{
    margin: 8px 0;
}
.next{        
    margin-bottom: 100px;
    justify-content: center;
    
   
}
.pr-list{
    text-align: center;    
}
.next a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: x-large;
}
.card-1.active-c{
    animation: fadeIn 1s;
    opacity: 1;
    display:block ;
    

}
.card-1.active-c.turnOff{
    animation:fadeOut 0.5s;
}
.card-1{
    display: none;
}
.card-2.active-c{
    animation: fadeIn 1s;
    display:block ;
}
.card-2.active-c.turnOff{
    animation:fadeOut 0.5s;
    animation-fill-mode: forwards;
}
.card-2{
    display: none;
}
.card-3.active-c{
    animation: fadeIn 1s;
    display:block ;
}
.card-3.active-c.turnOff{
    animation:fadeOut 0.5s;
}
.card-3{
    display: none;
}
.card-4.active-c{
    animation: fadeIn 1s;
    display:block ;
}
.card-4.active-c.turnOff{
    animation:fadeOut 0.5s;
}
.card-4{
    display: none;
}
.card-5.active-c{
    animation: fadeIn 1s;
    display:block ;
}
.card-5.active-c.turnOff{
    animation:fadeOut 0.5s;
}
.card-5{
    display: none;
}
.card-6.active-c{
    animation: fadeIn 1s;
    display:block ;
}
.card-6.active-c.turnOff{
    animation:fadeOut 0.5s;
}
.card-6{
    display: none;
}


/* ----------------@media----------------------------------------- */

@media only screen and (max-width:1000px){
    #p-card {  
        height: fit-content;
        display:flex;
        flex-wrap: wrap;
        border-radius: 10px;
        margin: 15px 10%;
        transition: 0.5s;
        }    
    }
@media screen and (min-width:700px){
    #ham{
        display: none;
    }
    #ham-footer{
        display: none;
    }
    #menu-column.show{
        display: none;
    }
    #footer-list.show-footer{
        display:none;
    }
    #menu-item  .nav{
        display: block;
    }
 /*    #profile-link{
        display: block;
      } */
}

@media screen and (max-width:701px){
    #ham{
        display: block;
    }
    #ham-footer{
        display: block;
    }
    #footer-list.show-footer{
        display:block;
    }
    #menu-item  .nav{
        display: none;
    }
    #profile-link{
        display: none;
      }
}


@media screen and (min-height:600px),(min-width:800px){
   
    #about{ 
        height: 100vh;
        margin: 5% 25%;
    }    
 
}
@media only screen and (max-height:600px),(max-width:800px){
  
    #about{ 
    height: min-content;
    margin:5% 10%;
    }
      
    }


/* ----------------------ABOUT-------------------------------------- */
#about{
    display: flex;
    flex-direction: column;
}
.indent{
    margin-left: 8%;
}

.links{
    cursor: pointer;
    position: relative;
    font-size: x-large;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.links::after{
    content: "";
    width:0;
    height: 3px;
    background: crimson;
    cursor: pointer;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.links.active::after{
    width: 100%;
}
.contents ul li{
    list-style: none;
    line-height:calc(150%);
    font-size: medium;
}
.contents ul li span{
    color: #b54769;
    font-size:x-large;
    line-height: 150%;
}

.contents{
    display: none;
}
.contents.active-list{
    display: block;
}
#pr{
    line-height: calc(130%);
    font-weight: 300;
}

.presentation {
    margin-top: 100px;
    color:beige;
    font-size: x-large;
    align-items:center;
}


/* --------------------------FOOTER---------------------------------- */

#footer {
    position: fixed;
    background: black;
    height: var(--footerH);
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
#footer a{
    cursor: pointer;
    color:bisque;
}
#footer-list.show-footer{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 25px;
    right: 0px;
    height: 100px;
    width: 125px;
    padding: 0px 30px;
    padding-top: 20px;
    transition: 0.5s;
}
#footer-list{
    display: none;
}
address{
    text-align: left;
    width:250px;
    margin-left: 5px;
    font-size: small;
}
#fcc{
    padding: 2px;
    width: 130px;
    background-color: rgb(137, 135, 134);
}
#ham-footer {    
padding: 2px;
position: absolute;
bottom: 10px;
right: 20px;
border: 0;
color:#b54769;
background-color: black;
}
#ham-footer:hover {
padding: 4px;
background-color: rgba(255, 255, 255, 0.287);  
color:coral;
}
#profile{
    width: 100vw;
    margin-right: 30px;
    padding: 0;
    text-align: right;
}
#profile-link{
    margin-left: 30px;
    align-items: center;
    padding: 5px;
}
/* -----------------------animation---------------------------------- */
@keyframes fadeIn {
    from {
         opacity: 0;
    }

    to {
         opacity: 1;
    }
}
@keyframes fadeOut {
    from {
         opacity: 1;
    }

    to {
         opacity: 0;
    }
}

iframe{
    border-radius: 8px;
    width: 100%;
    height:75%; 
    overflow: hidden; 
    transition: transform 0.5s; 
}