<p class="codepen" data-height="669.4914855957031" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="RwQMWge" data-preview="true" data-user="Zory" style="height: 669.4914855957031px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
    <span>See the Pen <a href="https://codepen.io/Zory/pen/RwQMWge">
    Choropleth Map</a> by Zory (<a href="https://codepen.io/Zory">@Zory</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
  </p>
  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>