<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Zory St">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
             integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Zory's Poftfolio</title>
</head>
<body>
<div id="wraper">
<!-- ------------------------ HEADER  --------------------------->
    <section id="header" >  
            <div class="overlay"></div>              
            <nav id="navbar">
            <a href="#header"><img src="../pictures/logo03.jpg" class="logo"></a> 
            <div class="navbar"> 
            <ul id ="menu-item">
                <li><a class="nav" href="#welcome-section">WELCOME</a></li>
                <li><a class="nav" href="#about">   ABOUT </a></li>
                <li><a  class="nav" href="#projects"> PROJECTS</a> </li>  
            </ul>
            <button id="ham" class="header">
                    <img id="menu" src="../pictures/01 copy.gif"/> 
            </button>
            </div>
            <ul id ="menu-column" >
                <li><a class="nav" href="#welcome-section">WELCOME</a></li>
                <li><a class="nav" href="#about">   ABOUT </a></li>
                <li><a  class="nav" href="#projects"> PROJECTS</a> </li>  
            </ul>
            </nav>
            
        <div id="header-text">             
            <h2> Hi, I'm Zory.</h2>
            <p> Front-end / Back-end Developer </p>
        </div>
        
    </section>  <!-- end header -->    

<!-- ------------------------ WELCOME --------------------------->

        <section id="welcome-section">
            <h1 class="welcome">
            MY PORTFOLIO
            </h1>
            <ul class="continue">
            <li><a href="#projects" class="presentation">Continue</a></li>                </ul> 
            </section>                
      	         
<!-- ------------------------ ABOUT --------------------------->
      
        <section id ="about">
            <div class="nav">   </div>
            <h2 class="presentation" >
                <p id="pr">My name is Zornitsa S. </p>
                <p id="pr">I am passionate designer and developer.</p> 
            </h2>
          <div class="container"> 
            <nav id="row"> 
                <ul class="titles">
                    <li class="links active" onclick="openlist('skills')">Skills</li>
                    <li class="links" onclick="openlist('edu')">Education</li>
                </ul>
            </nav>
            <div class="contents active-list" id="skills">
                <ul>
                    <li><span>UI/UX</span> </br> Web/App interfaces</li>
                    <li><span>Web Development</span> <br>Web app development</li>                    
                    <li><span>Coding</span> <br>HTML, CSS, JavaScript, C++, C#, Python</li>                    
                    <li><span>Design</span> <br>Adobe Photoshop, 3DS MAX, ArchiCAD, AutoCAD, Revit</li>                    
                </ul>
            </div>
            <div class="contents" id="edu">    
                <ul>
                    <li>
                        <span>Certificates:</span> </br>
                        FreeCodeCamp certificates and projects.
                        <ul class="indent"><li>JavaScript Algorithms and Data Structures - Developer Certification</li>
                        <li>Front End Development Libraries - Developer Certification</li>
                        <li>Data Visualization - Developer Certification</li>
                        <li>Back End Development and APIs - Developer Certification</li>
                        </ul> 
                    </li>
                    <li><span>University:</span></br>MSc Informatics - Multimedia Technology.
                    </li>
                    <li>MSc Architecture.
                        </br>
                        Course in MSc Urban Planning.</li>                  
                </ul>               
            </div>            
          </div>  
        </section>
<!-- ----------------------------- PROJECTS --------------------------->

        <section id="projects">
            <h1 class="projects"> My Projects </h1>  
            <div id="card-1" class="card-1 active-c">
                <div id="p-card" >             
                <div  class="project-tile">                
                    <a href="https://codepen.io/Zory/pen/GRQWbvd" target="_blank">                    
                        <img id="project-pic" src="../pictures/Clock.jpg"  alt="25 + 5 Clock"/>
                        <hr>  25 + 5 Clock
                    </a>
                </div>					 	
                <div  class="project-tile" >                
                    <a href="https://codepen.io/Zory/pen/eYVZXLP" target="_blank">
                        <img id="project-pic" src="../pictures/drumMachine.jpg"  alt="Drum Machine"/>
                        <hr> Drum Machine
                    </a>
                </div>	
                <div  class="project-tile">                
                    <a href="https://codepen.io/Zory/pen/RwQMWge" target="_blank">
                        <img id="project-pic" src="../pictures/Choropleth Map.jpg"  alt="Choropleth Map"/>
                        <hr> Choropleth Map
                    </a>
                </div>	
                <div  class="project-tile" >                
                    <a href="https://codepen.io/Zory/pen/yLpZZxE" target="_blank">
                        <img id="project-pic" src="../pictures/Quotes.jpg"  alt="Random Quotes"/>
                        <hr>Quote Machine
                    </a>
                </div>	                 
            </div> 
            <div class="pr-list">
                <ul  class="next">
                   <li><a class="btn btn-light" id="next-1" onclick="openPCard('card-2', 'card-1')">NEXT</a></li>               
               </ul> 
           </div>
            </div><!-- end project card 1 -->
            <div id="card-2" class="card-2">
                 <div id="p-card">             
                <div  class="project-tile">                
                    <a href="https://codepen.io/Zory/pen/oNEZrNz" target="_blank">                    
                        <img id="project-pic" src="../pictures/Calculator.jpg"  alt="Calculator"/>
                        <hr>  Calculator
                    </a>
                </div>					 	
                <div  class="project-tile" >                
                    <a href="https://codepen.io/Zory/pen/jOZzbqO" target="_blank">
                        <img id="project-pic" src="../pictures/HeatMap.jpg"  alt="Heat Map"/>
                        <hr> Heat Map
                    </a>
                </div>	
                <div  class="project-tile">                
                    <a href="https://codepen.io/Zory/pen/JjpLYZL" target="_blank">
                        <img id="project-pic" src="../pictures/TreeMapDiagram.jpg"  alt="Treemap Diagram"/>
                        <hr> Treemap Diagram
                    </a>
                </div>	
                <div  class="project-tile" >                
                    <a href="https://codepen.io/Zory/pen/yLpZZxE" target="_blank">
                        <img id="project-pic" src="../pictures/Scatterplot Graph.jpg"  alt="Scatterplot Graph"/>
                        <hr>Scatterplot Graph
                    </a>
                </div>	                 
            </div> 
            <div  class="pr-list">
                <ul id="row" class="next">
                   <li><a class="btn btn-light" id="next-2" onclick="openPCard('card-1', 'card-2')">PREVIOUS</a></li>               
                   <li><a class="btn btn-light" id="prev-2" onclick="openPCard('card-3', 'card-2')">NEXT</a></li>               
               </ul> 
           </div>
            </div><!-- end project card 2 -->          
            <div id="card-3" class="card-3">
                 <div id="p-card">             
                <div  class="project-tile">                
                    <a href="https://codepen.io/Zory/pen/oNEqXLx" target="_blank">                    
                        <img id="project-pic" src="../pictures/GDP graph.jpg"  alt="Bar Chart"/>
                        <hr>  Bar Chart
                    </a>
                </div>					 	
                <div  class="project-tile" >                
                    <a href="https://codepen.io/Zory/pen/jOZbEqN" target="_blank">
                        <img id="project-pic" src="../pictures/Previewer.jpg"  alt="Markdown Previewer"/>
                        <hr> Markdown Previewer
                    </a>
                </div>	
                <div  class="project-tile">                
                    <a href="https://boilerplate-project-metricimpconverter.zorrey.repl.co/" target="_blank">
                        <img id="project-pic" src="../pictures/Metric-ImperialConverter.jpg"  alt="Metric/Imperial Converter
                        "/>
                        <hr> Metric/Imperial Converter

                    </a>
                </div>	
                <div  class="project-tile" >                
                    <a href="https://issue-tracker.zorrey.repl.co/" target="_blank">
                        <img id="project-pic" src="../pictures/Issue Tracker.jpg"  alt="Issue Tracker"/>
                        <hr>Issue Tracker
                    </a>
                </div>	                 
            </div> 
            <div  class="pr-list">
                <ul id="row" class="next">
                   <li><a class="btn btn-light" id="next-2" onclick="openPCard('card-2', 'card-3')">PREVIOUS</a></li>               
                                 
               </ul> 
           </div>
            </div><!-- end project card 3-->          
                        
        </section> <!--  end projects -->
        <!-- <script  src="../public/index.js"></script> -->
       <!--  <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> -->
    
<!-- ------------------------ FOOTER --------------------------------->
    <footer id="footer">    
        <div id="row">           
        <address class="author">
            <img id="fcc" alt="FCC" src="https://cdn.freecodecamp.org/testable-projects-fcc/images/fcc_secondary.svg">  </br>
            FCC: Responsive Web Design Certification
        </address>
        <div id="profile">
            <a class="author" id="profile-link" href="https://codepen.io/Zory" target="_blank">Zory St</a>
            <a class="author" id="profile-link"  href="https://www.freecodecamp.org/Zory" target="_blank">
                 my freeCodeCamp profile
                </a>
        </div>                          
        </div>    
    <div>
        <ul id="footer-list">
            <li><a class="author"  href="https://codepen.io/Zory" target="_blank">Zory St</a></li>
            <li><a class="author"   href="https://www.freecodecamp.org/Zory" target="_blank">ZS profile</a></li>
        </ul>                  
    </div> 
    <button id="ham-footer"> LINKS</button>
    </footer> 
</div> <!-- end wrapper-->    
    <script>
        var links = document.getElementsByClassName("links")
        var contents = document.getElementsByClassName("contents");
        
        function openlist(name){
            for(let i=0; i<links.length; i++){
                links[i].classList.remove("active")
            }
            for(let i=0; i<links.length; i++){
                contents[i].classList.remove("active-list")
            }
             event.target.classList.add("active");
             document.getElementById(name).classList.add("active-list");
        }
        function openPCard(cardNum, prev){
            document.getElementById(prev).classList.remove("active-c") ;  
            document.getElementById(cardNum).classList.add("active-c");                    
        }
        const menuButton = document.getElementById("ham");  
        const footerButton = document.getElementById("ham-footer");  
        const menuList = document.getElementById("menu-column"); 
        const footerList = document.getElementById("footer-list");

        function toggleList(){  
            if(footerList.classList.contains('show-footer')){ 
                menuList.style.height = "calc(100vh - 195px)";    
                menuList.classList.toggle('show');      
            }   else{
                menuList.style.height = "calc(100vh - 100px)";    
                menuList.classList.toggle('show'); 
            }   
        }
        function toggleFooterList(){
            if(menuList.classList.contains('show') && !footerList.classList.contains("show-footer")){                
                menuList.style.height = "calc(100vh - 195px)";  
                menuList.classList.toggle('show');           
                menuList.classList.toggle('show');           
                document.getElementById("footer-list").classList.toggle('show-footer');            
        }
            else if(menuList.classList.contains('show') && footerList.classList.contains("show-footer")){
                menuList.style.height = "calc(100vh - 100px)";  
                menuList.classList.toggle('show');           
                menuList.classList.toggle('show');           
                document.getElementById("footer-list").classList.toggle('show-footer'); 
            } 
            else document.getElementById("footer-list").classList.toggle('show-footer'); 
                  
        }
        function checkWin(){
            let w = window.innerWidth;
            let h = window.innerHeight;
            if(w>700){
              menuList.classList.remove("show");
              footerList.classList.remove("show-footer");
        }
        }
        menuButton.addEventListener('click' , toggleList);
        footerButton.addEventListener('click' , toggleFooterList);   
        window.addEventListener('resize', checkWin);

    </script>
</body>
</html>