<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Zory St">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
             integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/main.css">
    <title>Zory's Portfolio</title>
</head>
<body> 
<div id="wrapper">
<!-- ------------------------ HEADER  --------------------------->
    <div id="header">  
           <!--  <div class="overlay"></div>     -->          
           
            <a href="#header"><img src="../pictures/logo03-1.gif" class="logo"></a> 
            <div class="nav-bar"> 
                <div class="drop-down-menu">
                    <button id="ham">
                        <img id="menu" src="../pictures/01 copy.gif"/> 
                    </button>   
                    <ul id ="menu-column" class="menu-column">
                        <li><a class="nav" href="#welcome-section">WELCOME</a></li>
                        <li><a class="nav" href="#about"> ABOUT </a></li>
                        <li><a class="nav" href="#projects"> PROJECTS </a> </li>  
                    </ul>  
                </div>
                            
               
                <ul id ="menu-item">
                    <li><a class="nav" href="#welcome-section">WELCOME</a></li>
                    <li><a class="nav" href="#about">   ABOUT </a></li>
                    <li><a  class="nav" href="#projects"> PROJECTS</a> </li>  
                </ul>
           
            
            </div>
        
  
        
        </div>  <!-- end header -->    

<!-- ------------------------ WELCOME -------------------------------->

        <section id="welcome-section">
            <h1 class="welcome">
            MY PORTFOLIO
            </h1>
            <div id="header-text">             
                <h2> Hi, I'm Zory.</h2>
                <p> Front-end / Back-end Developer </p>
            </div>
            <ul class="continue">
            <li><a href="#projects" class="presentation">Continue to projects </a></li>                
            </ul> 
               <!--  iFRAME
                <iframe frameborder="0" width="40%" height="800px" src="https://sudoku.zorrey.repl.co?embed=true"></iframe>  -->  
            
        </section>                
      	         
<!-- ------------------------ ABOUT --------------------------->
      
        <section id ="about">
            <div id="row-up">
                <img class="author-photo" src="../pictures/pic07-p.jpg" alt="author" > 
                    <h2 class="profile" >
                    My name is Zory <br>
                    I am passionate designer and developer.
                    </h2>                 
            </div>
                  
          <div class="container mid"> 
            <nav class="row"> 
                <ul class="titles">
                    <li class="links active" onclick="openlist('skills')">Skills</li>
                    <li class="links" onclick="openlist('edu')">Education</li>
                </ul>
            </nav>
            <div class="contents active-list" id="skills">
                <ul>
                    <li><span>UI/UX</span> </br> Web/App interfaces</li>
                    <li><span>Web Development</span> <br>Web app development</li>                    
                    <li><span>Coding</span> <br>HTML, CSS, JavaScript, C#, Python</li>                    
                    <li><span>Design</span> <br>Adobe Photoshop, 3DS MAX, ArchiCAD, AutoCAD, Revit</li>                    
                </ul>
            </div>
            <div class="contents" id="edu">    
                <ul>
                    <li>
                        <span>Certificates:</span> </br>
                        FreeCodeCamp certificates, representing approximately 300 hours of coursework per certificate:
                        <ul class="indent">
                        <li>- Responsive Web Design </li>    
                        <li>-JavaScript Algorithms and Data Structures</li>                        
                        <li>- Front End Development Libraries</li>
                        <li>- Data Visualization</li>
                        <li>- Back End Development and APIs</li>
                        <li>- Quality Assurance</li>
                        <li>- Scientific Computing with Python</li>
                        <li>- Relational Database</li>
                        <li>- Information Security and Quality Assurance</li>
                        </ul>
                        FreeCodeCamp Developer Certification, representing approximately 1800 hours of coursework:
                        <ul class="indent">
                        <li>- Full Stack </li>

                        </ul>
                    </li>
                    <li>
                        <span>University:</span></br>
                        <ul class="indent">
                          <li>MSc Informatics - Multimedia Technology.</li>
                          <li>MSc Architecture (including BS).                            
                            Course in MSc Urban Planning.</li>    
                        </ul>
                        
                    </li>
                                    
                </ul>               
            </div>            
          </div>  
        </section>
<!-- ----------------------------- PROJECTS --------------------------->

        <section id="projects">
            
                <h2 class="projects"> PROJECTS </h2>  
                <span class="data">HTML, CSS, Node.js, Express.js, MongoDB database.</span>

                    <div id="card-1" class="card-1 active-c">
                        <ul  class="next pr-list up"> 
                        <li><a class="btn btn-light" id="inv" onclick="openPCard('card-6', 'card-7')">PREVIOUS</a></li>  
                        <li><a class="btn btn-light" id="next" onclick="openPCard('card-2', 'card-1')">NEXT</a></li>      
                        </ul>
                        <div id="p-card" >             
                            <div  class="project-tile a">  
                                <div class="window">
                                    <img id="project-pic" src="../pictures/sudoku copy.jpg"  alt="Sudoku"/>                                                                  
                                </div>  <hr> <div class="title">Sudoku Solver & Generator</div> 
                                <div id="filter">
                                    <a href="https://sudoku.zorrey.repl.co" target="_blank">                    
                                        <hr> 
                                        <h4>JavaScript <br> Sudoku Solver & Generator</h4>
                                        <p> This full stack JavaScript app is built with Node.js, Express.js and React.</p> 
                                        <hr> 
                                    </a>
                                </div>     
                            </div>	
                            <div  class="project-tile a">  
                                <div class="window">
                                    <img id="project-pic" src="../pictures/Message-board.jpg"  alt="Agora Forum"/>                                
                                </div>  <hr><div class="title"> Agora Forum</div>
                                <div id="filter">
                                    <a href="https://message-board.zorrey.repl.co/" target="_blank">                    
                                    <hr> 
                                    <h4>JavaScript <br> Agora Forum</h4>
                                    <p>  This full stack JavaScript app is built with Node.js, Express.js, Mongoose-MongoDB database</p> 
                                    <hr> </a>
                                </div>     
                            </div>                                        
                        </div> 

                        <div class="pr-list">
                        <ul  class="next"> 
                        <li><a class="btn btn-light" id="inv" onclick="openPCard('card-6', 'card-7')">PREVIOUS</a></li>                        
                        <li><a class="page active" onclick="openPCard('card-1', 'card-1')" >1</a></li>            
                        <li><a class="page" onclick="openPCard('card-2', 'card-1')">2</a></li>            
                        <li><a class="page" onclick="openPCard('card-3', 'card-1')">3</a></li>            
                        <li><a class="page" onclick="openPCard('card-4', 'card-1')">4</a></li>            
                        <li><a class="page" onclick="openPCard('card-5', 'card-1')">5</a></li>            
                        <li><a class="page" onclick="openPCard('card-6', 'card-1')">6</a></li>         
                        <li><a class="page" onclick="openPCard('card-7', 'card-1')">7</a></li>         
                        <li><a class="btn btn-light" id="next" onclick="openPCard('card-2', 'card-1')">NEXT</a></li>               
                        </ul> 
                        </div>

                    </div><!-- end project card 1 -->

                    <div id="card-2" class="card-2">
                        <ul  class="next pr-list up"> 
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-1', 'card-2')">PREVIOUS</a></li>  
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-3', 'card-2')">NEXT</a></li>      
                        </ul>
                        <div id="p-card" >             
                        <div  class="project-tile a">  
                            <div class="window">
                                <img id="project-pic" src="../pictures/pathfinding.jpg"  alt="Pathfinding App"/>                                 
                            </div>  <hr>  <div class="title">Pathfinder </div>
                            <div id="filter">
                                <a href="https://pathfinding.zorrey.repl.co/" target="_blank">                    
                                    <hr> 
                                    <h4>JavaScript <br> Pathfinder</h4>
                                    <p>  This JavaScript app is built with React</p> 
                                    <hr> </a>                               
                            </div>     
                        </div>	
               
                        <div class="column">
                                 <div  class="project-tile b">  
                            <div class="window">
                                <img id="project-pic" src="../pictures/Z-library.jpg"  alt="Zory's Library"/>                                 
                            </div>  <hr> <div class="title">Zory's Library </div>  
                            <div id="filter">
                                <a href="https://zorys-library.zorrey.repl.co/" target="_blank">                    
                                    <hr> 
                                    <h4>JavaScript <br> Zory's Library</h4>
                                    <p>  This full stack JavaScript app is built with Node.js, Express.js, Mongoose-MongoDB database</p> 
                                    <hr> </a>                               
                            </div>     
                        </div>	 	
                        <div  class="project-tile b" > 
                            <div class="window">
                                <img id="project-pic" src="../pictures/Ex Tracker.jpg"  alt="Exercise tracker"/>
                            </div>                                 
                                <hr><div class="title">Exercise tracker</div>
                            <div id="filter">
                                <a href="https://exercisetracker.zorrey.repl.co" target="_blank">                    
                                <hr> 
                                <h4>Exercise tracker</h4>
                                <p> This full stack JavaScript app is built with Node.js, Express.js,Mongoose-MongoDB database and tested with Mocha and Chai.</p> 
                                <hr> </a>
                            </div> 
                        </div>
         
                        </div>	                               
                        </div> 

                        <div class="pr-list">
                        <ul  class="next"> 
                        <li><a class="btn btn-light" id="next" onclick="openPCard('card-1', 'card-2')">PREVIOUS</a></li>                        
                        <li><a class="page" onclick="openPCard('card-1', 'card-2')" >1</a></li>            
                        <li><a class="page active" onclick="openPCard('card-2', 'card-2')">2</a></li>            
                        <li><a class="page" onclick="openPCard('card-3', 'card-2')">3</a></li>            
                        <li><a class="page" onclick="openPCard('card-4', 'card-2')">4</a></li>            
                        <li><a class="page" onclick="openPCard('card-5', 'card-2')">5</a></li>            
                        <li><a class="page" onclick="openPCard('card-6', 'card-2')">6</a></li>         
                        <li><a class="page" onclick="openPCard('card-7', 'card-2')">7</a></li>         
                        <li><a class="btn btn-light" id="next" onclick="openPCard('card-3', 'card-2')">NEXT</a></li>               
                        </ul> 
                        </div>
                    </div><!-- end project card 2 -->

                    <div id="card-3" class="card-3">
                        <ul  class="next pr-list up"> 
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-2', 'card-3')">PREVIOUS</a></li>  
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-4', 'card-3')">NEXT</a></li>      
                        </ul> 
                        <div id="p-card">                          
                        <div  class="project-tile a">  
                            <div class="window a">
                                <img id="project-pic" src="../pictures/Issue Tracker.jpg"  alt="Issue Tracker""/>  
                            </div>                            
                            <hr> <div class="title">Issue Tracker</div> 
                            <div id="filter">
                                <a href="https://issue-tracker.zorrey.repl.co/" target="_blank">                    
                                <hr> 
                                <h4>Issue Tracker</h4>
                                <p> This full stack JavaScript app is built with Node.js, Express.js, MongoDB Database and tested with Mocha and Chai.</p> 
                                <hr> </a>
                            </div>                            
                            </div> 
                                    
                        <div class="column">				 	
                        <div  class="project-tile b" >  
                            <div class="window">
                                <img id="project-pic" src="../pictures/Metric-ImperialConverter.jpg"  alt="Metric/Imperial Converter
                                "/>
                            </div>              
                                
                                <hr> <div class="title">Metric/Imperial Converter</div>
                            <div id="filter">
                                <a href="https://boilerplate-project-metricimpconverter.zorrey.repl.co/" target="_blank">                    
                                <hr> 
                                <h4>Metric/Imperial Converter</h4>
                                
                                <p> This full stack JavaScript app is built with Node.js, Express.js and tested with Mocha and Chai.</p> 
                                <hr> </a>
                            </div> 
                        </div>	
                        <div  class="project-tile b" >    
                            <div class="window">
                                <img id="project-pic" src="../pictures/translator.jpg"  alt="Translator"/>
                            </div>       
                            
                            <hr> <div class="title">American / British English Translator</div>
                        <div id="filter">
                            <a href="https://American-British-Translator.zorrey.repl.co" target="_blank">                    
                            <hr> 
                            <h4>American / British English Translator</h4>
                            <p> This full stack JavaScript app is built with Node.js, Express.js and tested with Mocha and Chai.</p> 
                            <hr> </a>
                        </div> 
                    </div>	
                    </div>  
                    </div> 
                    <div  class="pr-list">
                        <ul class="next">
                        <li><a class="btn btn-light" id="next" onclick="openPCard('card-2', 'card-3')">PREVIOUS</a></li>  
                        <li><a class="page" onclick="openPCard('card-1', 'card-3')" >1</a></li>            
                        <li><a class="page" onclick="openPCard('card-2', 'card-3')">2</a></li>            
                        <li><a class="page active" onclick="openPCard('card-3', 'card-3')">3</a></li>            
                        <li><a class="page" onclick="openPCard('card-4', 'card-3')">4</a></li>            
                        <li><a class="page" onclick="openPCard('card-5', 'card-3')">5</a></li>            
                        <li><a class="page" onclick="openPCard('card-6', 'card-3')">6</a></li>              
                        <li><a class="page" onclick="openPCard('card-7', 'card-3')">7</a></li>              
                        <li><a class="btn btn-light" id="next" onclick="openPCard('card-4', 'card-3')">NEXT</a></li>               
                        </ul> 
                    </div>
                    </div><!-- end project card 3 -->  

                    <div id="card-4" class="card-4">
                        <ul  class="next pr-list up"> 
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-3', 'card-4')">PREVIOUS</a></li>  
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-5', 'card-4')">NEXT</a></li>      
                        </ul>  
                      <div id="p-card">  
                            <div  class="project-tile a">  
                                <div class="window">
                                   <img id="project-pic" src="../pictures/Calculator.jpg"  alt="Calculator"/>  
                                </div>                            
                            <hr> <div class="title">Calculator</div>
                            <div id="filter">
                                <a href="https://codepen.io/Zory/full/oNEZrNz" target="_blank">                    
                                <hr> 
                                <h4>JavaScript Calculator</h4>
                                <p> This App is Front End Development Libraries project built with React.</p> 
                                <hr> </a>
                            </div>                            
                            </div> 
                                    
                        <div class="column">				 	
                            <div  class="project-tile b" > 
                                <div class="window">
                                   <img id="project-pic" src="../pictures/drumMachine.jpg"  alt="Drum Machine"/> 
                                </div>
                                    
                                    <hr><div class="title"> Drum Machine  </div>                  
                                <div id="filter">
                                    <a href="https://codepen.io/Zory/full/eYVZXLP" target="_blank">                    
                                    <hr> 
                                    <h4>JavaScript Drum Machine</h4>
                                    <p> This App is Front End Development Libraries project built with React.</p> 
                                    <hr> </a>
                                </div> 
                            </div>		
                            <div  class="project-tile b" >  
                                <div class="window">
                                    <img id="project-pic" src="../pictures/Quotes.jpg"  alt="Random Quotes"/>
                                </div> 
                                
                                <hr><div class="title">Quote Machine</div>
                            <div id="filter">
                                <a href="https://codepen.io/Zory/full/yLpZZxE" target="_blank">                    
                                <hr> 
                                <h4>JavaScript Quote Machine</h4>
                                <p> This App is Front End Development Libraries project built with React.</p> 
                                <hr> </a>
                            </div> 
                        </div> 
                        </div>  
                      </div> 
                    <div  class="pr-list">
                        <ul class="next">
                        <li><a class="btn btn-light" id="next" onclick="openPCard('card-3', 'card-4')">PREVIOUS</a></li>    
                        <li><a class="page" onclick="openPCard('card-1', 'card-4')" >1</a></li>            
                        <li><a class="page" onclick="openPCard('card-2', 'card-4')">2</a></li>            
                        <li><a class="page" onclick="openPCard('card-3', 'card-4')">3</a></li>            
                        <li><a class="page active" onclick="openPCard('card-4', 'card-4')">4</a></li>            
                        <li><a class="page" onclick="openPCard('card-5', 'card-4')">5</a></li>            
                        <li><a class="page" onclick="openPCard('card-6', 'card-4')">6</a></li>            
                        <li><a class="page" onclick="openPCard('card-7', 'card-4')">7</a></li>            
                        <li><a class="btn btn-light" id="next" onclick="openPCard('card-5', 'card-4')">NEXT</a></li>               
                        </ul> 
                    </div>
                    </div><!-- end project card 3 -->  

                    <div id="card-5" class="card-5"> 
                        <ul  class="next pr-list up"> 
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-3', 'card-5')">PREVIOUS</a></li>  
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-6', 'card-5')">NEXT</a></li>      
                        </ul> 
                        <div id="p-card">                 
                        <div  class="project-tile a">  
                            <div class="window">
                                <img id="project-pic" src="../pictures/Clock.jpg"  alt="25 + 5 Clock"/>
                            </div>                   
                            <hr> <div class="title">25 + 5 Clock</div> 
                            <div id="filter">
                                <a href="https://codepen.io/Zory/full/GRQWbvd" target="_blank">                    
                                <hr> 
                                <h4>JavaScript <br> 25 + 5 Clock</h4>
                                <p> This App is Front End Development Libraries project built with React.</p> 
                                <hr> </a>
                            </div>     
                        </div>    				 	
                        <div class="column">
                            <div  class="project-tile b"> 
                                <div class="window">
                                   <img id="project-pic" src="../pictures/Choropleth Map.jpg"  alt="Choropleth Map"/> 
                                </div>                                 
                                <hr> <div class="title">Choropleth Map</div>
                            <div id="filter">
                                <a href="https://codepen.io/Zory/full/RwQMWge" target="_blank">                    
                                <hr> 
                                <h4>Choropleth Map</h4>
                                <p> This App is Data Visualization project built with HTML, JavaScript, CSS, and the D3 svg-based visualization library.</p> 
                                <hr> </a>
                            </div> 
                            </div>	
                            <div  class="project-tile b" > 
                                <div class="window">
                                    <img id="project-pic" src="../pictures/HeatMap.jpg"  alt="Heat Map"/>
                                </div>                                     
                                <hr><div class="title">Heat Map</div> 
                            <div id="filter">
                                <a href="https://codepen.io/Zory/full/jOZzbqO" target="_blank">                    
                                <hr> 
                                <h4>Heat Map</h4>
                                <p> This App is Data Visualization project built with HTML, JavaScript, CSS, and the D3 svg-based visualization library.</p> 
                                <hr> </a>
                            </div> 
                            </div>                            
                        </div>                    	                 
                        </div> <!-- end <div id="p-card">  -->
                        <div  class="pr-list">
                            <ul class="next">
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-4', 'card-5')">PREVIOUS</a></li> 
                            <li><a class="page" onclick="openPCard('card-1', 'card-5')" >1</a></li>            
                            <li><a class="page" onclick="openPCard('card-2', 'card-5')">2</a></li>            
                            <li><a class="page" onclick="openPCard('card-3', 'card-5')">3</a></li>            
                            <li><a class="page" onclick="openPCard('card-4', 'card-5')">4</a></li>            
                            <li><a class="page active" onclick="openPCard('card-5', 'card-5')">5</a></li>            
                            <li><a class="page" onclick="openPCard('card-6', 'card-5')">6</a></li>               
                            <li><a class="page" onclick="openPCard('card-7', 'card-5')">7</a></li>               
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-6', 'card-5')">NEXT</a></li>                        
                        </ul> 
                        </div>
                    </div><!-- end project card 5-->  
                    
                    <div id="card-6" class="card-6">
                        <ul  class="next pr-list up"> 
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-5', 'card-6')">PREVIOUS</a></li>  
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-7', 'card-6')">NEXT</a></li>      
                        </ul> 
                        <div id="p-card"> 
                            
                            <div  class="project-tile a">
                                <div class="window">
                                    <img id="project-pic" src="../pictures/portfolio.jpg"  alt="Portfolio site"/>
                                </div>                                     
                                <hr> <div class="title">Portfolio site</div> 
                            <div id="filter">
                                <a href="#header"  target="_blank">                    
                                <hr> 
                                <h4>Portfolio site</h4>
                                <p> App built with HTML, CSS and JavaScript. </p> 
                                <hr> </a>
                            </div>
                            </div> 
                            <div class="column">
                                <div  class="project-tile b">
                                    <div class="window">
                                        <img id="project-pic" src="../pictures/ZahaHadid.jpg"  alt="Architect Zaha Hadid Tribute Page"/>
                                    </div>                                     
                                    <hr>  <div class="title">Architect Zaha Hadid Tribute Page</div>
                                <div id="filter">
                                    <a href="https://codepen.io/Zory/full/mdLyNmL"  target="_blank">                    
                                    <hr> 
                                    <h4>Architect Zaha Hadid Tribute Page</h4>
                                    <p> App built with HTML and CSS. </p> 
                                    <hr> </a>
                                </div>
                                </div>					 	
                                <div  class="project-tile b">                
                                    <div class="window">
                                        <img id="project-pic" src="../pictures/survey.jpg"  alt="Survey Form"/>
                                    </div>
                                    <hr> <div class="title">Survey Form</div>
                                    <div id="filter">
                                        <a href="https://codepen.io/Zory/full/wvjGjLm" target="_blank">                    
                                        <hr> 
                                        <h4>Survey Form</h4>
                                        <p> App built with HTML, CSS and JavaScript.</p> 
                                        <hr> </a>
                                    </div> 
                                </div>	  
                            </div>  

                         
                           
                </div> 
                <div  class="pr-list">
                    <ul class="next">
                        <li><a class="btn btn-light" id="next" onclick="openPCard('card-5', 'card-6')">PREVIOUS</a></li>   
                        <li><a class="page" onclick="openPCard('card-1', 'card-6')" >1</a></li>            
                        <li><a class="page" onclick="openPCard('card-2', 'card-6')">2</a></li>            
                        <li><a class="page" onclick="openPCard('card-3', 'card-6')">3</a></li>            
                        <li><a class="page" onclick="openPCard('card-4', 'card-6')">4</a></li>            
                        <li><a class="page" onclick="openPCard('card-5', 'card-6')">5</a></li>            
                        <li><a class="page active" onclick="openPCard('card-6', 'card-6')">6</a></li>             
                        <li><a class="page" onclick="openPCard('card-7', 'card-6')">7</a></li>             
                        <li><a class="btn btn-light" id="next" onclick="openPCard('card-7', 'card-6')">NEXT</a></li>               
                    </ul> 
                </div>
                    </div><!-- end project card 6-->  

                    <div id="card-7" class="card-7">
                        <ul  class="next pr-list up"> 
                            <li><a class="btn btn-light" id="next" onclick="openPCard('card-6', 'card-7')">PREVIOUS</a></li>  
                            <li><a class="btn btn-light" id="inv" onclick="openPCard('card-1', 'card-7')">NEXT</a></li>      
                        </ul> 
                        <div id="p-card">              
                            <div  class="project-tile a" > 
                                <div class="window">
                                    <img id="project-pic" src="../pictures/landingPage.jpg"  alt="Landing Page"/>
                                  
                                </div>  
                                    <hr><div class="title">Landing  Page - certification project.</div> 
                                <div id="filter">
                                    <a href="https://codepen.io/Zory/full/QWrNQQR" target="_blank">                    
                                    <hr> 
                                    <h4>Landing  Page - certification project.</h4>
                                    <p> App built with HTML, CSS and JavaScript.</p> 
                                    <hr> </a>
                                </div> 
                            </div>	
                            <div class="column">
                                <div  class="project-tile b" >  
                                    <div class="window">
                                        <img id="project-pic" src="../pictures/Header Parser.jpg"  alt="Header Parser Microservice"/>
                                    </div>         
                                        
                                        <hr><div class="title">Header Parser Microservice</div> 
                                    <div id="filter">
                                        <a href="https://boilerplate-project-headerparser.zorrey.repl.co/" target="_blank">                    
                                            <hr> 
                                        <h4>Header Parser Microservice</h4>
                                        <p> This full stack JavaScript app is built with Node.js, Express.js and MongoDB database.</p> 
                                        <hr> </a>
                                    </div> 
                                </div>
                                <div  class="project-tile b" > 
                                    <div class="window">
                                        <img id="project-pic" src="../pictures/URL Shortener.jpg"  alt="URL Shortener Microservice"/>
                                    </div>               
                                    
                                        <hr><div class="title">URL Shortener Microservice</div>
                                    <div id="filter">
                                        <a href="https://boilerplate-project-urlshortener.zorrey.repl.co/" target="_blank">                    
                                        <hr> 
                                        <h4>URL Shortener Microservice</h4>
                                        <p> This full stack JavaScript app is built with Node.js, Express.js and Mongoose-MongoDB database.</p> 
                                        <hr> </a>
                                    </div> 
                                </div>	
                            </div>   					 	
                    	
                  <!--   <div  class="project-tile b">                
                            <img id="project-pic" src="../pictures/TimeStamp.jpg"  alt="Timestamp Microservice"/>
                            <hr> Timestamp Microservice
                        <div id="filter">
                            <a href="https://project-timestamp.zorrey.repl.co" target="_blank">                    
                            <hr> 
                            <h4>Timestamp Microservice</h4>
                            <p> This full stack JavaScript app is built with Node.js, Express.js, MongoDB database and Mangoose.</p> 
                            <hr> </a>
                        </div> 
                    </div>	 -->

                </div> 
                <div  class="pr-list">
                    <ul class="next">
                        <li><a class="btn btn-light" id="next" onclick="openPCard('card-6', 'card-7')">PREVIOUS</a></li>   
                        <li><a class="page" onclick="openPCard('card-1', 'card-7')" >1</a></li>            
                        <li><a class="page" onclick="openPCard('card-2', 'card-7')">2</a></li>            
                        <li><a class="page" onclick="openPCard('card-3', 'card-7')">3</a></li>            
                        <li><a class="page" onclick="openPCard('card-4', 'card-7')">4</a></li>            
                        <li><a class="page" onclick="openPCard('card-5', 'card-7')">5</a></li>            
                        <li><a class="page" onclick="openPCard('card-6', 'card-7')">6</a></li>  
                        <li><a class="page active" onclick="openPCard('card-7', 'card-7')">7</a></li>  
                        
                        <li><a class="btn btn-light" id="inv" onclick="openPCard('card-1', 'card-7')">NEXT</a></li>        
                                        
                    </ul> 
                </div>
                    </div><!-- end project card 6-->      
                    <div class="space"></div>               
        </section> <!--  end projects -->
     
<!-- ------------------------ FOOTER --------------------------------->
    <footer class="footer">                 
   
        <div class="footer-links-row">
            <a  href="https://codepen.io/Zory" target="_blank">Zory St</a>            
            <a  href="https://www.freecodecamp.org/Zory" target="_blank">
            freeCodeCamp profile
            </a>
        </div>                          
        
        <div class="drop-down">
            <button class="ham-footer">LINKS</button>  
            <ul class="footer-links-col">
                <li><a class="drop"  href="https://codepen.io/Zory" target="_blank">Zory St</a></li>
                <li><a class="drop"   href="https://www.freecodecamp.org/Zory" target="_blank">ZS profile</a></li>
                
            </ul>                  
        </div> 
   
    </footer> 
</div> <!-- end wrapper-->    
    <script>
        var w, h;
        var links = document.getElementsByClassName("links")
        var contents = document.getElementsByClassName("contents");
        
        function openlist(name){
            for(let i=0; i<links.length; i++){
                links[i].classList.remove("active")
            }
            for(let i=0; i<links.length; i++){
                contents[i].classList.remove("active-list")
            }
             event.target.classList.add("active");
             document.getElementById(name).classList.add("active-list");
        }
        /*-----------------change project page--------------------------------------------*/
       
        function openPCard(cardNum, prev){

           document.getElementById(prev).classList.add("turnOff"); 
           setTimeout(()=>{ document.getElementById(prev).classList.remove("active-c", "turnOff")}, 500 ); 
           setTimeout (()=>{document.getElementById(cardNum).classList.add("active-c")}, 500);                    
        }
    
        const menuButton = document.getElementById("ham");  
        const footerButton = document.getElementById("ham-footer");  
        const menuList = document.getElementById("menu-column"); 
        const footerList = document.getElementById("footer-list");

    /*     function handleList(){
            w = window.innerWidth;
            h = window.innerHeight;
            if(h<300){
                footerList.style.right = "125px";
                menuList.style.height = `80px`;    
                menuList.classList.remove('show');
                footerList.classList.remove('show-footer');
            }
            if(h>=300 && w<700){
                footerList.style.right = "0px"; 
                menuList.style.height = `80px`;  
                menuList.classList.remove('show');
                footerList.classList.remove('show-footer');
            }
        } */
    /*     function toggleList(){ 
            w = window.innerWidth;
            h = window.innerHeight;
            if(h<300){
                footerList.style.right = "125px";
                toggleFooterList;
                menuList.style.height = `80px`;    
                menuList.classList.toggle('show'); 
            }
            else{
           // console.log("w-h", w ,h) 
            if(footerList.classList.contains('show-footer')){ 
                menuList.style.height = `100px`;    
                menuList.classList.toggle('show');      
            }   else{
                menuList.style.height = `100px`;    
                menuList.classList.toggle('show'); 
            }   }
        } */
/*    
        function toggleFooterList(){

            w = window.innerWidth;
            h = window.innerHeight;

            if(h<300){
                footerList.style.right = "125px";
                footerList.classList.toggle('show-footer'); ;

            } 
            else{
                footerList.style.right = "0px"  ;
            if(menuList.classList.contains('show') && !footerList.classList.contains("show-footer")){                
                menuList.style.height = `${h - 195}px`; 
                toggleList;          
                footerList.classList.add('show-footer');      
        }
            else if(menuList.classList.contains('show') && footerList.classList.contains("show-footer")){
                menuList.style.height = `${h -95}px`;  
                menuList.classList.toggle('show');           
                menuList.classList.toggle('show');           
                document.getElementById("footer-list").classList.remove('show-footer'); 
            } 
            else document.getElementById("footer-list").classList.toggle('show-footer'); 
                 }
        }
        
        function checkWin(){
             w = window.innerWidth;
             h = window.innerHeight;
            if(w>700){
              menuList.classList.remove("show");
              footerList.classList.remove("show-footer");
            }
            if(w<700){
                toggleList;
            }
        }
        */
        menuButton.addEventListener('click' , toggleList);
        footerButton.addEventListener('click' , toggleFooterList);   
        window.addEventListener('resize', checkWin);
        window.addEventListener('resize', handleList);
        
    </script>
</body>
</html>